In [3]:
install.packages("rjson", repos="http://cran.us.r-project.org")

package 'rjson' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Aiqing-Jiang\AppData\Local\Temp\RtmpALLfAV\downloaded_packages

In [4]:
library(rjson)

In [5]:
library(jsonlite)

Attaching package: 'jsonlite'

The following objects are masked from 'package:rjson':

    fromJSON, toJSON

In [6]:
json <-
'[
  {"Name" : "Mario", "Age" : 32, "Occupation" : "Plumber"}, 
  {"Name" : "Peach", "Age" : 21, "Occupation" : "Princess"},
  {},
  {"Name" : "Bowser", "Occupation" : "Koopa"}
]'

In [7]:
data_frame <- fromJSON(json)
data_frame

  Name   Age Occupation
1 Mario  32  Plumber
2 Peach  21  Princess
3 NA     NA  NA
4 Bowser NA  Koopa

In [9]:
data_frame$Ranking <- c(3, 1, 2, 4)
data_frame

  Name   Age Occupation Ranking
1 Mario  32  Plumber    3
2 Peach  21  Princess   1
3 NA     NA  NA         2
4 Bowser NA  Koopa      4

In [10]:
toJSON(data_frame, pretty=TRUE)

[
  {
    "Name": "Mario",
    "Age": 32,
    "Occupation": "Plumber",
    "Ranking": 3
  },
  {
    "Name": "Peach",
    "Age": 21,
    "Occupation": "Princess",
    "Ranking": 1
  },
  {
    "Ranking": 2
  },
  {
    "Name": "Bowser",
    "Occupation": "Koopa",
    "Ranking": 4
  }
]

In [12]:
write_json(json,path="C:/Users/Aiqing-Jiang/1.json")

In [13]:
read_json(path="C:/Users/Aiqing-Jiang/1.json",simplifyVector = FALSE)

[[1]]
[1] "[\n  {\"Name\" : \"Mario\", \"Age\" : 32, \"Occupation\" : \"Plumber\"}, \n  {\"Name\" : \"Peach\", \"Age\" : 21, \"Occupation\" : \"Princess\"},\n  {},\n  {\"Name\" : \"Bowser\", \"Occupation\" : \"Koopa\"}\n]"